# Homework

This homework should consolidate everything you learnt in class today.

<br>

## Question 1

Create a list with the following data, and assign it to a variable named shopping:
'spam' 'ham' 'eggs' 'ham'

Then do the following: 

1. Extract the second element of the list.

2. Extract the first to third (inclusive) element of the list.

3. Extract only the last element of the list.

In [3]:
# define list
shopping = ["spam", "ham", "eggs", "ham"]

In [4]:
# 1. Extract the second element of the list.
# Second element is at index 1: 0 is first, 1 is second,...
shopping[1]

'ham'

In [5]:
# 2. Extract the first to third (inclusive) element of the list.
shopping[0:3]

['spam', 'ham', 'eggs']

In [6]:
# 3. Extract only the last element of the list.
shopping[-1]

'ham'

<br>

## Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", 
         "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

1. Append Edinburgh Waverley to the end of the list
1. Add "Queen Street" to the start of the list
2. Find out what index "Croy" is at in the list
3. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
4. Remove "Haymarket" from the list of stops
5. Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [2]:
# set up the list
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]


# 1. Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [6]:
# 2. Add Queen Street to the start of the list
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [7]:
# 3. Find out what index Croy is at in the list
stops.index("Croy")

1

In [8]:
# 4. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [9]:
# 5. Remove "Haymarket" from the list of stops
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [10]:
# 6. Remove all items from stops
stops.clear()
stops

[]

<br>

## Question 3

Set up the following dictionary:

`person = {"name": "Steph", "age": 31, "Instructor" : True}`

Do the following:

1. Return the keys, values and items from this dictionary

2. Take out only the name from it

3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

4. Delete the job description from the dictionary (*Hint: look up the `del` function*)

In [11]:
# set up the dictionary
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [12]:
# 1. Return the keys, values and items from this dictionary
person.keys()
person.values()
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [13]:
# 2. Take out only the name from it
person["name"]

'Steph'

In [14]:
# 3. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
person["email"] = "steph@codeclan.com"
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [15]:
# 4. Delete the job description from the dictionary (*Hint: look up the `del` function*)
del(person["Instructor"])

In [16]:
person
items = list[person.items()]
items.inser

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

<br>

## Question 4

For the following list of numbers: 

`numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]`

1. Print out a list of the even integers:

2. Print the difference between the largest and smallest value:

3. Print True if the list contains a 2 next to a 2 somewhere.

4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [17]:
# For the following list of numbers:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [18]:
# 1. Print out a list of the even integers:
even_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)

print(even_numbers)

[6, 2, 2, 6]

In [19]:
# or using a list comprehension
even_numbers = [number for number in numbers if number % 2 == 0]
print(even_numbers)

[6, 2, 2, 6]

In [20]:
# 2. Print the difference between the largest and smallest value:
largest = max(numbers)
smallest = min(numbers)

print(largest - smallest)

98

In [21]:
# 3. Print True if the list contains a 2 next to a 2 somewhere.
result = False
for index in range(len(numbers) - 1):
    if numbers[index] == 2 and numbers[index + 1] == 2:
        result = True
print(result)

True

In [23]:
# 4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7.
# So [11, 6, 4, 99, 7, 11] would have sum of 22

total = 0
skip_this_bit = False
for number in numbers: 
    if number == 6:
        # start skipping
        skip_this_bit = True
    elif skip_this_bit:
        if number == 7:
            # if we're skipping, and this number is 7
            # then stop skipping
            skip_this_bit = False
    else:
        total += number

print(total)

2

<br>

## Question 5

Write a conditional that takes in two inputs : 

* `python_is_fun = True`
* `python_is_weird = True`

We want to print "Woo Python!" if either `python_is_fun` is `true` OR `python_is_weird` is `true` OR both `python_is_fun` and `python_is_weird` are true. Otherwise, print `"Python is not for me!"`. Make sure you test all the combinations.

In [24]:
# Solution - both true

python_is_fun = True
python_is_weird = True

if python_is_fun or python_is_weird:
    print("Woo Python!")
else: 
    print("Python is not for me!")

Woo Python!

In [25]:
# Solution - One true, one false

python_is_fun = True
python_is_weird = False

if python_is_fun or python_is_weird:
    print("Woo Python!")
else: 
    print("Python is not for me!")

Woo Python!

In [26]:
# Solution - both false

python_is_fun = False
python_is_weird = False

if python_is_fun or python_is_weird:
    print("Woo Python!")
else: 
    print("Python is not for me!")

Python is not for me!

<br>

## Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

`chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]`


To write this as a loop, we'd do something like this: 

`total_eggs = 0`

`for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected`

`print(f"{total_eggs} eggs collected")`

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using `print`.

In [27]:
# try our first chicken list
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

def count_eggs(chickens):
    total_eggs = 0

    for bird in chickens:
        total_eggs += bird["eggs"]
        bird["eggs"] = 0 # eggs have been collected

    return f"{total_eggs} eggs collected"

print(count_eggs(chickens))

4 eggs collected


<br>
<hr>

# Extensions


## Question 1
Set up the following collection: 

`
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]`

1. Change the capital of Wales from `"Swansea"` to `"Cardiff"`.

2. Create a dictionary for Northern Ireland and add it to the `united_kingdom` list (The capital is Belfast, and the population is 1,811,000).

3. Use a loop to print the names of all the countries in the UK.

4. Use a loop to find the total population of the UK.

In [28]:
# set up the collection
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]


# 1. Change the capital of Wales from `"Swansea"` to `"Cardiff"`.
united_kingdom[1]["capital"] = "Cardiff"

In [29]:
# 2. Create a dictionary for Northern Ireland and add it to the `united_kingdom` list (The capital is Belfast, and the population is 1,811,000).
united_kingdom.append({
  "name": "Northern Ireland",
  "population": 1811000,
  "capital": "Belfast"
})

print(united_kingdom)

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}, {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}, {'name': 'England', 'population': 53010000, 'capital': 'London'}, {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [30]:
# 3. Use a loop to print the names of all the countries in the UK.
for country in united_kingdom:
  print(country["name"])

Scotland
Wales
England
Northern Ireland

In [31]:
# 4. Use a loop to find the total population of the UK.
total_population = 0

for country in united_kingdom:
    total_population += country["population"]


print(total_population)

63179000

<br>

## Question 2

Set up the following:

`users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}`

1. Get Jonathan's Twitter handle (i.e. the string `"jonnyt"`)
2. Get Erik's hometown
3. Get the array of Erik's lottery numbers
4. Get the species of Avril's pet Monty
5. Get the smallest of Erik's lottery numbers
6. Return an array of Avril's lottery numbers that are even
7. Erik is one lottery number short! Add the number `7` to be included in his lottery numbers
8. Change Erik's hometown to Edinburgh
9. Add a pet dog to Erik called "Fluffy"
10. Add another person to the users dictionary

In [32]:
# set up the collection
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [33]:
# 1. Get Jonathan's Twitter handle (i.e. the string `"jonnyt"`)
users["Jonathan"]["twitter"]

'jonnyt'

In [34]:
# 2. Get Erik's hometown
users["Erik"]["home_town"]

'Linlithgow'

In [35]:
# 3. Get the list of Erik's lottery numbers
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [36]:
# 4. Get the species type of Avril's pet Monty
users["Avril"]["pets"][0]["species"]

'snake'

In [37]:
# 5. Get the smallest of Erik's lottery numbers
sorted(users["Erik"]["lottery_numbers"])[0]

8

In [38]:
# 6. Print a list of Avril's lottery numbers that are even
lottery_numbers = users["Avril"]["lottery_numbers"]
even_numbers = []
for lottery_number in lottery_numbers:
    if lottery_number % 2 == 0:
        even_numbers.append(lottery_number)

print(even_numbers)

[12, 14, 38]

In [39]:
# 7. Erik is one lottery number short! Add the number `7` to be included in his lottery numbers
users["Erik"]["lottery_numbers"].append(7)

In [40]:
# 8. Change Erik's hometown to Edinburgh
users["Erik"]["home_town"] = "Edinburgh"

In [41]:
# 9. Add a pet dog to Erik called "Fluffy"
users["Erik"]["pets"].append({ "name": "Fluffy", "species": "dog" })

In [42]:
# 10. Add another person to the users dictionary
users["ian"] = {
    "twitter": "twitter name",
    "lottery_numbers": [4,5,6,7,8],
    "home_town": "Edinburgh",
    "pets": [
      {
        "name": "Dave",
        "species": "dog"
      }
    ]
}

users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'ian': {'twitter': 'twitter name',
  'lottery_numbers': [4, 5, 6, 7, 8],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'Dave', 'species': 'dog'}]}}